.accordion-button:not(.collapsed) {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-button.collapsed {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.flight-plan-group {
    margin-bottom: 30px
}

.flight-plan-div:last-child > .flight-plan-group {
    margin-bottom: 0px;
}